/* GERAIS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

a {
text-decoration: solid;
color: black;
}

h2 {
    width: 80%;
    margin: 0px;
    align-items: flex-start;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

body, html {
    display: flex;
    height: 100%;
    margin: 0px;
    flex-direction: column;
    font-family: 'Roboto';
}

body {
    background-image: url('../img/background.jpg');
    background-size: 220%;
    align-items: center;
}

/* Header */

header {
    width: 100%;
    display: flex;
    background-color: #2b2129;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.logo {
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    width: 340px;
    height: 140px;
    background-color: #E5D188;
    font-family: 'Roboto';
}

header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav a {
    margin: 12px;
    background-color: #E5D188;
    width: 197px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
}

/* MAIN */

/* conteudo */

main {
    background-color: #dccdd9;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 1%;
    box-shadow: 0px 5px 15px;
}

.banner {
    display: none;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.conteudo h2{
    width: 100%;
}

.card {
    margin-top: 37px;
}

.card h2 {
    color: #dd8e58;
}

.card span{
    font-size: 60px;
    margin-top: auto;
    color: #708a81;
}

.card-desc {
    opacity: 0;
    padding: 18px 8%;
    background-color: #708a81;
    transition: 0.5s ease;
    border-radius: 36px;
  }
  
  .card:hover .card-desc {
    opacity: 1;
    height: fit-content;
  }

.conteudo h2 {
    margin-top: 28px;
}

.conteudo div {
    background-color: #2b2129;
    border-radius: 36px;
    width: 335px;
    height: 534px;
    box-shadow: 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.conteudo p {
    text-align: justify;
}


/* Vídeo */

.video {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    width: 80%;
    margin: 0px;
}

.video iframe{
    border-radius: 36px;
    width: 335px;
    height: 534px;
    margin: 18px;
    box-shadow: 0px 5px 15px;
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2129;
    color: #E5D188;
}

footer h2 {
    width: fit-content;
    align-self: center;
    margin-top: 24px;
}

footer a h2 {
    color: #E5D188;
}

footer a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    width: fit-content;
    flex-direction: column;
}


footer a img{
    width: 141px;
    height: 141px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px;
}

.rodape {
    font-style: normal;
    font-weight: 400px;
    font-size: 64px;
    margin-bottom: 55px;
    margin-top: 33px;
}

/* DESKTOP */

@media (min-width: 768px){


/* Header */
header {
    align-items: center;
    justify-content: space-evenly;
}

header nav{
    display: flex;
    flex-direction: row;
}


.banner-container {
    width: 100%;
}

.banner {
    display: flex;
    background-image: url('../img/banner.png');
    width: 100%;
    height: 532px;
    box-shadow: 0px 5px 15px;
    background-repeat: round;
}

.banner p {
    background-color: #E5D188;
    border-radius: 36px;
    padding: 10px;
    align-self: flex-end;
    width: 30%;
    margin-bottom: 2%;
    margin-left: 5%;
    box-shadow: 5px 5px 10px black;
}



/* Conteudo */

.conteudo {
    justify-content: space-between;
}

.conteudo h2 {
    margin-top: 98px;
}

.conteudo div h2 {
    margin: 0px;
}

/* VIDEO */

.video{
    margin-top: 28px;
    margin-bottom: 233px;
    width: 100%;
}

.video iframe{
    width: 85%;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

footer a {
    margin-left: 121.5px;
    margin-right: 121.5px;
}

footer nav {
    display: flex;
    flex-direction: row;
}

.rodape {
    width: 100%;
    margin-left: 76px;
}

}